
<div style="background-color:lightgray; border-radius: 25px; width: 350px; height: 150px; position: absolute;
top: 50%; left: 50%; margin-top: -50px; margin-left: -150px; padding: 1px"><p align="center">Your numerology number is <%= @birth_path_num %>.</p> 
<p align="center"><%= @message %></p></div>