<% if !@error.nil? %>
  <p class="text-danger"><%= @error %></p>
<% end %>
<div class="new-person"><legend><span class="number"></span>Find out what your numerology says!</legend>
<form action="/" method="POST">
<div class="form-group"><label for="mydob">Enter your birthdate(mmddyyyy):</label>	
<input class="form-control" name="mydob" type="text" /></div>
<input class="btn btn-default" type="submit" />
</form> </div>
</div>