<div class="header">
 <h1>Numerology Calculator</h1> </p><small><h1>A Skillcrush Project</small></h1><hr />
</div>
<div class="well">
<h1>Your numerology number is <%= @birth_path_num %>.</h1>
<p><%= @message %></p></div>
</div>