<div class="well">
	<% if !@error.nil? %>
  		<p class="text-danger"><%= @error %></p>
	<% else %>
		<h3>Your numerology number is <%= @birth_path_num %>.</h3>
		<p><%= @message %></p>	
	<% end %>
</div>
