<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
    <title>Numerology App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  </head>
  	<body class="text-center">
  		<div class="container"><div class="header">
 <h1>People</h1> </p><small><h1>A Skillcrush Project</small></h1><hr />
</div>
<%= yield %></div>

	<div class="container"><hr /><p> <h5> About the Developer.</h5></p> <p><small>Sadia Malik is from Canada. When she's not <a href="https://sadiamalik1980.github.io/">Skillcrushin'</a>, she's looking after her family.</small></div></div>
  	</body>
</html>