<!DOCTYPE html>
<html>
   	<head>
		<meta charset="UTF-8">
    		<title>Numerology App</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/people.css">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
           <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script type='text/javascript' src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<!-- Begin Body -->
  	<body>
		<div class="container-fluid">
			<div class="text-center">
			<div class="header">
 				<h1>Numerology <br><small>A Skillcrush Project</small></h1>
			<hr />
			</div>

		<div class="container">
			<div class="row">
  				<div class="col-md-2" id="leftCol">
              			<div class="well"> 
              				<ul class="nav nav-stacked" id="stacked-menu">
        						<li>
          							<a href="/">Home</a>
        						</li>
       						<li>
          							<a href="#" data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">People</a>          
          								<ul class="nav nav-stacked collapse" id="item2">
            								<li><a href="/people/new">Add</a></li>
           								<li><a href="/people/">View All</a></li>
          								</ul>
        						</li>
       					</ul>
  								</div>
					</div>
      	 
		  	<div class="col-md-8"><div class="jumbotron"> 
				<div class="container-fluid">
					<%= yield %>
				</div>
			</div>
				<p><hr></p>	 
			<div class="col-md-12"> 
				<div class="container-fluid">
					<p><h5>About the Developer.</h5></p>
 					<p><small>Sadia Malik is from Canada. When she's not <a href="https://sadiamalik1980.github.io/">					Skillcrushin'</a>, she's looking after her family.</small>
				</div>
			</div>
		</div>
		</div>
		</div>

  	</body>
</html>