<% if !@errors.blank? %>
  <p class="text-danger">
    <%= "#{@errors}" %>
  </p>
<% end %>
<form action="/words/" method="post">	
	<div>
 		<label for="text">Word:</label>
  		<input type="text" name="text" value="<%= 			@text %>" />
 	</div>
		<div>
  		<input type="submit" />
	</div>
 </form>
