<% if @error.present? %>
  <p class='error'><i class="fa fa-exclamation-circle"></i>&nbsp; <%= "#{@error}" %></p>
<% end %>

<div class='word'><legend><h1>Anagrams</h1></legend>
<form action="/" method="post" class="form">
  <label for="word">Enter a word</label>
  <input type="text" name="word">
  <input type="submit" class="btn">
</form></div>