<div class='anagram'><legend><h1><span class="header">Anagrams for</span>
<br><%= "#{@word}" %></h1></legend>
<ul>
	<% if !@anagrams.nil? %>
  		<% @anagrams.each do |item| %>
    			<li><%= item.text %></li>
   		<% end %>	
 	<% end %>
</ul>
</div>

